html {
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    overflow-x:hidden;
}

/* ================= NAVBAR ================= */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(62,39,35,0.95);
    backdrop-filter:blur(10px);
    z-index:1000;
    box-sizing:border-box;
    transition:0.3s;
}

.logo{
    font-size:32px;
    font-weight:700;
    color:#fff;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-size:18px;
    font-weight:500;
    position:relative;
    transition:.3s;
}

.nav-links a:hover{
    color:#FFD54F;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:2px;
    background:#FFD54F;
    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

/* ================= MOBILE ================= */

@media (max-width:768px){

    .navbar{
        flex-direction:column;
        padding:18px;
    }

    .logo{
        margin-bottom:15px;
        font-size:28px;
    }

    .nav-links{
        gap:20px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .nav-links a{
        font-size:17px;
    }
}